<h1> Users watching my Wishlists </h1>

<table>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <% current_user.watchers.each do |watcher| %>
      <tr>
        <td><%= link_to watcher.email, wish_list_path(watcher) %></td>
        <td><%= link_to 'Delete Watcher', watcher_path(watcher), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    </tr>
</table>

