p .btn-primary {
  box-shadow: 2px 2px 2px #58595a;
}


.item-image {
  background: #bbb;
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px #58595a;
  padding: 20px;


  img {
    display: block;
    max-height: 150px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

  }

  .btn-primary {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px #58595a;
    width: 100%;
  }
}


