.item-image {
  background: #bbb;
  float: left;
  min-height: 200px;
  min-width: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 20px;

  img {
    display: block;
    margin-bottom: 10px;
  }

  .btn {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
