<h1>Please choose an image.</h1>
<br />
<p>
  <%= link_to("Set to no image", wish_list_item_image_path(@wish_list, @item, :url => nil),
                                                           :method => :post, :class => 'btn btn-primary') %>
</p>
<br />
<% @images.each do |image| %>
  <div class="item-image">
    <img src="<%= image %>">
    <%= link_to("choose image", wish_list_item_image_path(@wish_list, @item, :url => image),
                                                          :method => :post, :class => 'btn btn-primary') %>
  </div>
<% end %>